@model CountryModel

<h2>Įvesk šalį</h2>

@using (Html.BeginForm("Create", "Country", FormMethod.Post))
{
<div class="container-full" style="background-color:aliceblue">
    <div class="container">
        @Html.LabelFor(x => x.CountryName)
        @Html.TextBoxFor(x => x.CountryName)

        @Html.LabelFor(x => x.ISO3)
        @Html.TextBoxFor(x => x.ISO3)
        <input type="submit" value="Submit" />
    </div>
</div>
}