@model SportModel

<h2>Įvesk sporto šaką</h2>

@using (Html.BeginForm("Create", "Sport", FormMethod.Post))
{
<div class="container-full" style="background-color:aliceblue">
    <div class="container">
        @Html.LabelFor(x => x.SportName)
        @Html.TextBoxFor(x => x.SportName)

        @Html.LabelFor(x => x.TeamActivity)
        @Html.CheckBoxFor(x => x.TeamActivity)
        <input type="submit" value="Submit" />
    </div>
</div>
}